{% from 'front/_base_macro.html' import base %}
{% call base(4) -%}

  <h1>DatastoreとSerach APIの連携</h1>

  <h2>Datastoreの保存</h2>
  <p>Datastoreの値変更と同時にSearch Apiも更新します。</p>

  <form class="form-horizontal" role="form" action="save" method="post">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_name">名前</label>
      <div class="col-sm-10">
        <input type="text" id="user_name" name="user_name" class="form-control" value="{{ user1.user_name }}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="height">身長</label>
      <div class="col-sm-10">
        <input type="text" id="height" name="height" class="form-control" value="{{ user1.height }}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="birthday">誕生日</label>
      <div class="col-sm-10">
        <input type="text" id="birthday" name="birthday" class="form-control" placeholder="1900-01-01" value="{{ user1.birthday }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
  </form>
  <hr>
  <h2>Search APIで検索</h2>
  <p>Sarch APIで検索し、Datastoreの値を返します。</p>

  <form class="form-horizontal" role="form" action="top" method="post">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_name">名前</label>
      <div class="col-sm-10">
        <input type="text" id="user_name" name="user_name" class="form-control" value="{{ user_name }}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="height">身長</label>
      <div class="col-sm-10">
        <input type="text" id="height" name="height" class="form-control" value="{{ height }}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="birthday">誕生日</label>
      <div class="col-sm-10 form-inline">
        <input type="text" id="birthday1" name="birthday1" class="form-control" placeholder="1900-01-01" value="{{ birthday1 }}">〜
        <input type="text" id="birthday2" name="birthday2" class="form-control" placeholder="1900-01-01" value="{{ birthday2 }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">検索</button>
  </form>
  <h3>検索結果</h3>
  {% for result in results %}
    <p>
      {% for field in result.fields %}
        {{ field.value }}
      {% endfor %}
    </p>
  {% endfor %}




{%- endcall %}

